.reporter-custom-clustericon {
	background: var(--cluster-color);
	color: #FFF;
	border-radius: 50%;
	font-weight: bold;
	font-size: 15px;
	display: flex;
  align-items: center;
  height: 25px;
  width: 25px;
  &::before {
		content: '';
		display: block;
		position: absolute;
		width: 130%;
		height: 130%;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
    background: var(--cluster-color);
		opacity: 0.6;
    border-radius: 100%;
    padding: 7px;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 150%;
		height: 150%;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		background: var(--cluster-color);
		opacity: 0.2;
		border-radius: 100%;
		padding: 14px;
	}
}

.reporter-custom-clustericon-1 {
	--cluster-color: #00A2D3;
}
.reporter-custom-clustericon-2 {
	--cluster-color: #FF9B00;
}
.reporter-custom-clustericon-3 {
	--cluster-color: #FF6969;
}
