@import "../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts/";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "./clusterIcon.scss";

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

#map {
  width: 100%;
  height: 100%;
}

.pointer.link {
  cursor: pointer;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;

  max-width: 400px;

  position: absolute !important;
  left: 50% !important;
  top: 0px !important;
  margin-left: -200px !important;
  margin-top: 10px !important;

  @media (max-width: 960px) {
    max-width: 300px;
    margin-left: -150px !important;
  }

  @media (max-width: 767px) {
    max-width: 220px;
    margin-left: -110px !important;
  }

  @media (max-width: 675px) {
    max-width: 180px;
    margin-left: -90px !important;
  }

  @media (max-width: 576px) {
    max-width: 98vw;
    left: 0 !important;
    margin-left: 0 !important;
  }
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-container {
  z-index: 1050;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 400px;

  @media (max-width: 960px) {
    width: 300px;
  }

  @media (max-width: 767px) {
    width: 220px;
  }

  @media (max-width: 675px) {
    width: 180px;
  }

  @media (max-width: 576px) {
    width: 98vw;
    margin-left: 8px;
  }
}

#pac-input:focus {
  border-color: #4d90fe;
}

#btn-plus-container {
  position: absolute !important;
  margin-bottom: 10px;
  bottom: 0;
  right: 10px !important;

  .fab-container {
    bottom: 3vh;
    margin: 1em;
    right: 2vw;
  }

  .fab-item {
    border-radius: 50%;

    //width: 40px;
    //height: 40px;
  }

  [tooltip]:before {
    visibility: visible;
    opacity: 1;
  }
}

#btn-req-help-container {
  border: 1px solid black;
  position: absolute !important;
  margin-bottom: 40px;
  bottom: 40px;
  right: 10px !important;

  .fab-container {
    bottom: 3vh;
    margin: 1em;
    right: 2vw;
  }

  .fab-item {
    border-radius: 50%;

    //width: 40px;
    //height: 40px;
  }
}

.req-help-container {
  margin-bottom: 30px;
}

#btn-extras-container {
  margin-top: 5px;
  position: absolute !important;
  right: 10px !important;


  @media (max-width: 576px) {
    margin-top: 60px;
  }

  .btn {
    @media (max-width:576px) {
      float: right;
    }
  }
}

#btn-select-container {
  margin-top: 5px;
  position: absolute !important;
  left: 10px !important;

  @media (max-width: 960px) {
    zoom: 0.8;
  }

  @media (max-width: 576px) {
    margin-top: 72px;
  }

  .card {
    width: 15rem;
    background-color: white;;

    @media (max-width: 960px) {
      width: 12.5rem;
    }
  }

  .form-check-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .form-check-input {
    margin-top: 0.2rem;
    margin-left: -1.25rem;
  }
}

.info-card {
  .btn-close {
    font-size: 1rem;

    i {
      color: #aeaeae;
    }
  }

  &.helpline-info-card {
    position: fixed;
    width: 20rem;
    top: 3rem;
    right: 10px;
    left: auto;

    @media (max-width: 576px) {
      top: 6rem;
      left: 50%;
      right: auto;
      margin-left: -10rem;
    }
  }

  &.key-info-card {
    position: fixed;
    width: 20rem;
    top: 3rem;
    right: 10px;
    left: auto;

    @media (max-width: 576px) {
      top: 6rem;
      left: 50%;
      right: auto;
      margin-left: -10rem;
    }
  }
}

#btn-gps-container, #btn-gps-container2 {
  margin-left: 10px;
  margin-bottom: 10px;

  button {
    background: #FFF;
    border-color: #1616ff;
    border-left: 1px;
    border-right: 1px;
    border-top: 0;
    border-bottom: 0;
    text-align: center;

    i {
      font-size: 1.25rem;
    }
  }
}


#legend-container {
  padding-bottom: 12px;
  // margin-right: 12px;

  max-width: 110px;

  position: absolute !important;
  left: 50px !important;
  bottom: 10px !important;
  margin-top: 10px !important;

  @media (max-width: 576px) {
    left: 0px !important;
    bottom: 170px !important;
  }
}

#map-zoom-error-container {
  padding-bottom: 12px;
  margin-right: 12px;

  max-width: 400px;

  position: absolute !important;
  left: 50% !important;
  top: 50px !important;
  margin-left: -200px !important;
  margin-top: 10px !important;

  @media (max-width: 960px) {
    max-width: 300px;
    margin-left: -150px !important;
  }

  @media (max-width: 767px) {
    max-width: 220px;
    margin-left: -110px !important;
  }

  @media (max-width: 675px) {
    max-width: 180px;
    margin-left: -90px !important;
  }

  @media (max-width: 576px) {
    max-width: 30vw;
    left: 88% !important;
    top: 130px !important;
    float: right;
  }
}

.white-component-container {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  // padding: 5px 11px 5px 11px;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#legend-input {
  margin-left: 11px;
}

.legend-input {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  width: 130px;
}

#lng-button-container {
  padding-bottom: 12px;
  // margin-right: 12px;

  max-width: 130px;

  position: absolute !important;
  left: 0 !important;
  bottom: 150px !important;
  margin-top: 10px !important;

  @media (max-width: 576px) {
    left: 60px !important;
    bottom: 0 !important;
  }
}

.report-symptoms-modal {
  .modal-content {
    border-color: #dc3545 !important;
  }

  &.modal-dialog {
    max-width: 720px;
  }

  .symptom-card {
    margin-bottom: 1.5rem;

    img {
      width: 150px;

      @media (max-width: 576px) {
        width: 75px;
      }
    }

    &.symptom-present {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);
      -moz-box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);
      box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);

      .check-icon {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .report-submitted {
    .card-body {
      padding: 0 !important;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.request-help-modal {
  .modal-content {
    border-color: #dc3545 !important;
  }

  &.modal-dialog {
    max-width: 720px;
  }

  .symptom-card {
    margin-bottom: 1.5rem;

    img {
      width: 150px;

      @media (max-width: 576px) {
        width: 75px;
      }
    }

    &.symptom-present {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);
      -moz-box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);
      box-shadow: 0px 0px 10px 1px rgba(201,78,78,0.73);

      .check-icon {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .report-submitted {
    .card-body {
      padding: 0 !important;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}
.language-modal {
  .modal-content {
    border-color: #dc3545 !important;
  }

  &.modal-dialog {
    max-width: 300px;
  }
}
